<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="src/public/main.css">
    <%- include('partials/head') %>
</head>
<h1>About</h1>

<body>
    <p>Te gustaria saber mas sobre nosotros?</p>
    <%- include('partials/navigation') %>

        <a href="https://www.google.com" class="btn btn-primary">IR A GOOGLE</a>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="bogotaa.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="medellin.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="cali.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="cartagena.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="sanandres.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="guatape.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="barranquilla.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>










        <br>

        <div class="container bg-light">
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="text-secondary">Quienes somos?</h2>
                    Somos una pagina dedicada a ayudarte a encontrar tu mejor hotel a los mejores precios en las ciudades principales de toda colombia con los ambienes mas comodos ideal para tu viaje de descanso o negocio. Contamos con un capacitado equipo de trabajo que
                    seguro te va a ayudar!
                    <hr class="my-4">
                    <h2 class="text-warning">Como funciona?</h2>
                    Tenemos distintos hoteles a muy buenprecio ubiccados a lo largo de las 8 ciudades mas importantes de todo el pais tenemos los mejores hospedajes deacuerdo a tu presupuesto y necesidades.
                </div>

                <div class="col-sm-6">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="bogotaa.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="medellin.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="cali.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="cartagena.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="sanandres.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="guatape.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="barranquilla.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                </div>
            </div>
        </div>
        <br>


        <!-- 3 columnas tamaño 3, 6 y 3 -->
        <div class="container bg-light">
            hola
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="container bg-dark">
                    Secundario
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="container bg-dark">
                    Principal
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="container bg-dark">
                    Secundario
                </div>
            </div>
        </div>
        </div>

</body>

</html>