<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="src/public/main.css">
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navigation') %>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


        <br>

        
        <!-- 3 columnas tamaño 3, 6 y 3 -->
        <div class="row">
            <div class="col-12 col-md-2">
                <div class="container">
                        
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="container bg-light text-dark text-left bg-opacity-25">
                    <h>Quienes somos?</h>
                    <p>Este es un proyecto de pagina hotelera diseñado en el año 2023 con el objetivo de aprender en la creacion de paginas web
                        con el uso de node Js, creacion del proyecto utilizando npm, y diseño hecho con bootstrap el objetivo en esta aprte del 
                        curso es la utilizacion del sistema de grillas grid y la creacion de un diseño responsive que funcione y se pueda acomodar
                         deacuerdo al tamño de cada pantalla en el que se visite la pagina. este proyecto es para la presentacion de la universidad 
                         Austral en coursera
                    </p>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <br>    
                            <img src="about/responsive.jpg" class="img-fluid" alt="Responsive image">
                            <br>
                        </div>

                        <div class="col-12 col-md-5">
                            <br>
                            <br>
                            <hh>Diseño Responsive</hh>
                            <br>
                            <p>
                                El diseño de esta pagina esta hecho para que se pueda acomodar deacuerdo al dispositivo en el que se esté visualizando
                                el sistema de grillas lo utilizamos para administrar mejor el espacio en el que estaremos trabajando.
                            </p>
                        </div>
                    </div>

                    <br>
                    <hh>Nombre de la pagina y creador</hh>
                    <br>
                    <p>
                        El nombre de la pagina hotelera se llama hoteles mimosa por ser el nombre de la gata de mi casa y la que mientras estuve haciendo
                        el proyecto salió de la casa y se perdió. La pagina es hecha por mi, Paula Carolina Misas Marin, actualmente tengo 22 años y vivo 
                        en Medellin, Colombia. Estudio ingenieria de sistemas en la Universidad Nacional de Colombia.
                    </p>

                    <div class="row">
                        <div class="col-12 col-md-4 offset-md-2">
                            <br>    
                            <img src="about/enojada.jpeg" class="img-fluid" alt="Responsive image">
                            <br>
                        </div>
                        <div class="col-12 col-md-4">
                            <br>    
                            <img src="about/feliz.jpeg" class="img-fluid" alt="Responsive image">
                            <br>
                        </div>
                        
                    <br>
                    <hr class="my-4">
                </div>
            </div>


        </div>

        <div class="col-12 col-md-2">
            <div class="container ">
                
            </div>
        </div>

        <footer class="w-100 py-4 flex-shrink-0 ">

            <div class="container-fluid py-4 bg-light">
    
    
    
                <div class="row gy-4 gx-5 ">
                    <div class="col-lg-4 col-md-6 ">
                        <h5 class="h1 text-dark ">FB.</h5>
                        <p class="small text-muted "> Puedes contactarnos en los siguientes enlaces y paginas.</p>
                        <p class="small text-muted mb-0 ">&copy; Copyrights. All rights reserved.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 ">
                        <h5 class="text-dark mb-3 ">Quick links</h5>
                        <ul class="list-unstyled text-muted ">
                            <li><a href="# ">www.hotelescol.facebook.com</a></li>
                            <li>
                                <p>+57 3177445499</p>
                            </li>
                            <li><a href="# ">Home</a></li>
                            <li><a href="# ">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 ">
                        <h5 class="text-dark mb-3 ">Newsletter</h5>
                        <p class="small text-muted ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        <form action="# ">
                            <div class="input-group mb-3 ">
                                <input class="form-control " type="text " placeholder="Recipient 's username" aria-label="Recipient's username " aria-describedby="button-addon2 ">
                                <button class="btn btn-primary " id="button-addon2 " type="button "><i class="fas fa-paper-plane "></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
        </div>
        
</body>

</html>