<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera pagina </title>

    <%- include('partials/head') %>
</head>

<body>
    <div class="sticky-top">
        <div class="container-fluid bg bg-light">
            <%- include('partials/navigation')%>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="ciudades/bogotaa.jpg" class="d-block w-100" alt="holaaa">
            </div>
            <div class="carousel-item">
                <img src="ciudades/medellin.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="ciudades/cali.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="ciudades/cartagena.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="ciudades/sanandres.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="ciudades/guatape.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="ciudades/barranquilla.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>

    <div class="container-fluid bg-light">
        <hr class="my-4">
    </div>
    <br>


    <div class="container bg-light text-muted border">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-4">

                <div class="jumbotron">
                  <h class="display-4">Hoteles Mimosa</h>
                  <p style="font-size: 25px">Este es tu lugar ideal para viajar a los lugares ma turisticos e importantes de colombia</p>
                  <hr class="my-4">
                  <p>Aun no estas decidido en que lugar quieres pasar tus vacaciones? dale click y mirara mas sobre nuestros destinos.</p>
                  <a class="btn btn-light btn-outline-dark btn-lg" href="/room" role="button">Ver habitaciones</a>
                  <br>
                  <br>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4">
                        <hh class="text-dark">BOGOTA</hh>
                        <p>Disfruta tu estadia en la capita de Colombia. Arpovecha nuestras ofertas por tiempo limitado!</p>
                        <br>
                        <a type="button" class="btn btn-dark" href="/bogota">Reservar</a>
                        <br>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <hh class="text-dark">CALI</hh>
                        <p>Conoce lo que es el sabor, ven y realiza tu reserva ya y disfruta de la salsa y la rumba en Cali.</p>
                        <br>
                        <a type="button" class="btn btn-dark" href="/cali">Reservar</a>
                        <br>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <hh class="text-dark">MEDELLIN</hh>
                        <p>Te esperamos en la ciudad de la eterna primavera, tenemos sitios turisticos que seguro te gustará.</p>
                        <br>
                        <a class="btn btn-dark" href="/medellin">Reservar</a>
                        
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <hh class="text-dark">SAN ANDRES</hh>
                        <p>Ven y conoce la cultura san andresana, esta isla te espera con los mejores lugares para practicar buceo</p>
                        <br>
                        <a type="button" class="btn btn-dark" href="/sanandres">Reservar</a>
                        <br>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <hh class="text-dark">GUATAPE</hh>
                        <p>Este lugar tiene miles de historia que seguro te van a gustar, Aqui está la piedra del peñol, te esperamos.</p>
                        <br>
                        <a type="button" class="btn btn-dark" href="/guatape">Reservar</a>
                        <br>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <hh class="text-dark">CARTAGENA</hh>
                        <p>Tenemos los mejores hoteles para que visites los detinos mas bellos de America latina. Conocenos.</p>
                        <br>
                        <a type="button" class="btn btn-dark" href="/cartagena">Reservar</a>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>

    <br>

    <!-- FOOTER -->
    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0 ">

        <div class="container-fluid py-4 bg-light">



            <div class="row gy-4 gx-5 ">
                <div class="col-lg-4 col-md-6 ">
                    <h5 class="h1 text-dark ">FB.</h5>
                    <p class="small text-muted "> Puedes contactarnos en los siguientes enlaces y paginas.</p>
                    <p class="small text-muted mb-0 ">&copy; Copyrights. All rights reserved.</p>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <h5 class="text-dark mb-3 ">Quick links</h5>
                    <ul class="list-unstyled text-muted ">
                        <li><a href="# ">www.hotelescol.facebook.com</a></li>
                        <li>
                            <p>+57 3177445499</p>
                        </li>
                        <li><a href="# ">Home</a></li>
                        <li><a href="# ">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <h5 class="text-dark mb-3 ">Newsletter</h5>
                    <p class="small text-muted ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    <form action="# ">
                        <div class="input-group mb-3 ">
                            <input class="form-control " type="text " placeholder="Recipient 's username" aria-label="Recipient's username " aria-describedby="button-addon2 ">
                            <button class="btn btn-primary " id="button-addon2 " type="button "><i class="fas fa-paper-plane "></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    </div>

</body>

</html>