<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="src/public/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Nanum+Myeongjo:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Cormorant:ital,wght@1,300&family=Nanum+Myeongjo:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Cormorant:ital,wght@1,300&family=Nanum+Myeongjo:wght@800&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <%- include('partials/head') %>
</head>
<body>
    
    <div class="container-fluid bg bg-light">
        <%- include('partials/navigation')%>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <div class="container2">
        <br>
        <br>
        <div class="jumbotron jumbotron">
            <div class="container bg-opacity-25">
              <hh style="font-size: 50px;">HABITACIONES <br> E INSTALACIONES</hh>
              <hr class="my-4">
              <p>
                Contamos con 4 tipos de habitaciones ideal para que encuentres la que mas se acomode a ti. Tenemos desde las habitaciones mas sencillas
                hasta las habitaciones mas lujosas que puedas encontrar, te garantizamos que cualquier habitacion que elijas te va a encantar. 
                Todas nuestras habitaciones cuentan con: 
                <div class="row">
                    <div class="col">
                        <p>
                            -Cama <br>
                            -Minibar   <br>
                            -Agua caliente   <br>
                            -Telefono     <br>
                            -Baño
                        </p>

                    </div>
                    <div class="col">
                        <p>
                            -Caja de seguridad    <br>
                            -Minibar        <br>
                            -Secador       <br>
                            -Wifi       <br>
                            -TV     <br>
                            -Aire acondicionado
                    </div>
                <p>
                Así que por estas cosas no te tines que preocupar!<br>
                Queremos hacer tu estadia cada vez mas agradable.
              </p>
            </div>
        </div>
    </div>

    <div class="container1">


        <br>
        <br>

        <div class="container bg-light">

            <div class="row">

                <div class="col">

                    <div class="container bg-light text-black ">
                        <br>
                        <h style="font-size: 45px;">Habitacion Premium</h>
                        <hh style="font-size: 30px">CON SALA</hh>
                        <hr class="my-4">
                        <p>
                        Esta instancia es una de las mas amplias que ofrecemos cuenta con una cama doble o dos sencillas, un sofa cama 
                        donde pueden dormir comodamente 2 personas, televisor, cocina con todos los implementos, sala-comedor, y un balcon
                        en donde podras disfrutar la hermosa vista
                        <br>
                        <br>
                        </p>

                        <div class="row">


                            <div class="col-sm-5">
                                <p>
                                    -Cama doble  <br>
                                    -Sofacama    <br>
                                    -Sala-comedor    <br>
                                </p>
                            </div>
                            <div class="col">
                                <p>
                                    -Cocina con todo incluido       <br>
                                    -Ducha      <br>
                                    -Bañera
                                </p>
                            </div>


                        </div>
                    </div>

                </div>

                <br>  

                <div class="col-sm-7">

                    <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="instalaciones/premium.jpeg" class="d-block w-100" alt="holaaa">
                            </div>
                            <div class="carousel-item">
                                <img src="instalaciones/premium1.jpeg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="instalaciones/premium.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    </div>

                </div>

            </div>
        </div>

        <br>
        <br>

        <div class="container bg-light">

            <div class="row">

                <div class="col-sm-7">

                    <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="instalaciones/premiumm.jpg" class="d-block w-100" alt="holaaa">
                            </div>
                            <div class="carousel-item">
                                <img src="instalaciones/premiumb.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="instalaciones/jacuzzi.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    </div>

                </div>


                    <div class="col">
                        <div class="container bg-light text-black">
                            <br>
                            <h style="font-size: 45px">Habitacion Premium <br></h>
                            <hh style="font-size: 30px">CON JACUZZI</hh>
                            <hr class="my-4">
                            <p>
                            Esta habitacion te va a encantar tiene hermosos acabados, escritorio y sala tiene un balcon con la mejor vista 50 m. y es
                            2 personas, esta habitacion tambien tiene una terraza con jacuzzi, no posee cocina ya que la comida y el servicio a la habitacion
                             estan incluidos.
                            <br>
                            </p>
                        
                            <div class="row">
                                <div class="col">
                                    <p>
                                        -Cama Doble  <br>
                                        -Escritorio    <br>
                                        -Ducha      <br>
                                        -Balcon
                                    </p>
                                
                                </div>
                                <div class="col">
                                    <p>
                                        -Jacuzzi    <br>
                                        -TV LCD     <br>
                                        -Terraza     
                                    
                                    </p>                           
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    
        <br>
        <br>

        <div class="container bg-light">

            <div class="row">

                <div class="col">
                    <div class="container bg-light text-black">
                        <br>
                        <h style="font-size: 50px">Habitacion Doble</h>
                        <hh style="font-size: 30px">CON COCINA</hh>
                        <hr class="my-4">
                        <p>
                        Esta habitacion es hasta maximo 4 personas de 40 m con todas las comodidades que se necesitan como cocina integrada,
                        area de estudio, baño aire acondicionado, es un espacio amplio.
                        <br>
                        <br>
                        </p>

                        <div class="row">
                            <div class="col">
                                <p>
                                    -2 camas Dobles  <br>
                                    -Escritorio    <br>
                                    -TV LCD     <br>
                                </p>

                            </div>
                            <div class="col">
                                <p>
                                    -Bañera     <br>
                                    -Ducha      <br>
                                    -Cocina con todo incluido       <br>
                                </p>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-7">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="instalaciones/doble.jpg" class="d-block w-100" alt="holaaa">
                            </div>
                            <div class="carousel-item">
                                <img src="instalaciones/doble1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="instalaciones/bañodoble.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                </div>

            </div>
        </div>

        <br>
        <br>

        <div class="container bg-light">

            <div class="row">

                <div class="col-sm-7">
                    <div id="carouselExampleControls3" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="instalaciones/habitacion0.jpg" class="d-block w-100" alt="holaaa">
                            </div>
                            <div class="carousel-item">
                                <img src="instalaciones/personal.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                </div>


                <div class="col">
                    <div class="container gb-light text-black">

                        <br>
                    <h style="font-size: 48px;">Habitacion Sencilla</h>
                    <hh style="font-size: 30px">CON MININEVERA</hh>
                    <hr class="my-4">
                    <p>
                    Esta es una habitacion para una o dos personas tiene 20 m y cuneta con una cama doble o dos sencillas un televisor
                    y un armario amplio, ta,bien tienes una mininevera para guardar tu comida, esta es una habitacion bien iluminada con una ventana grande y también tiene una vista muy bonita.

                    <br>
                    <br>
                    </p>

                    <div class="row">
                        <div class="col">
                            <p>
                                -Cama doble  <br>
                                -Silla    <br>
                                -Ducha      <br>
                            </p>

                        </div>
                        <div class="col">
                            <p>
                                -TV LCD     <br>
                                -Bañera     <br>
                                -Mininevera
                            </p>

                        </div>
                    </div>

                    </div>
                </div>

            </div>
        </div>

        <br>
        <br>

        <!-- INSTALACIONES -->

        <div class="container-fluid">

            <div id="carouselExampleControlsf" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="instalaciones/restaurante.jpg" class="d-block w-100" alt="holaaa">
                        
                    </div>
                    <div class="carousel-item">
                        <img src="instalaciones/piscina.jpg" class="d-block w-100" alt="hh">
                       
                    </div>
                    <div class="carousel-item">
                        <img src="instalaciones/spa.jpg" class="d-block w-100" alt="...">
                        
                    </div>
                    <div class="carousel-item">
                        <img src="instalaciones/billar.jpg" class="d-block w-100" alt="...">
                        
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsf" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsf" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            </div>
        


        </div>

        <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0 ">

        <div class="container-fluid py-4 bg-light bg-opacity-75">



            <div class="row gy-4 gx-5 ">
                <div class="col-lg-4 col-md-6 ">
                    <h5 class="h1 text-dark ">FB.</h5>
                    <p class="small text-muted "> Puedes contactarnos en los siguientes enlaces y paginas.</p>
                    <p class="small text-muted mb-0 ">&copy; Copyrights. All rights reserved.</p>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <h5 class="text-dark mb-3 ">Quick links</h5>
                    <ul class="list-unstyled text-muted ">
                        <li><a href="# ">www.hotelescol.facebook.com</a></li>
                        <li>
                            <p>+57 3177445499</p>
                        </li>
                        <li><a href="# ">Home</a></li>
                        <li><a href="# ">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <h5 class="text-dark mb-3 ">Newsletter</h5>
                    <p class="small text-muted ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    <form action="# ">
                        <div class="input-group mb-3 ">
                            <input class="form-control " type="text " placeholder="Recipient 's username" aria-label="Recipient's username " aria-describedby="button-addon2 ">
                            <button class="btn btn-primary " id="button-addon2 " type="button "><i class="fas fa-paper-plane "></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>

    </div>

    </div>
        <body

