body {
    background-image: url(image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #000000;
}

cuadrado {
    width: 200px;
    height: 200px;
    background-color: #000000;
    position: fixed;
    top: 50px;
    left: 100[x];
}